html
	body
		head
			script(src=' https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
			style
				#messages { height: 300px; width: 300px; overflow: hidden; border: #ccc solid 1px;}
				section { margin-left: 20px; }
			section
			h1 Chat Client #1
			div#messages
			textarea#chat(rows='2', cols='35')
			button(onclick='something()') Chat
			script(src='/faye/client.js')
			script.
				var something = function() {
				var $chat = $('#chat');
				console.log('something:'+$chat.val())
				var url = 'http://localhost:8123/message';
				var message = {message: 'Client 1: ' + $chat.val()};
				var dataType = 'json';
				$.ajax({
				type: 'POST',
				'url': url,
				'data': message,
				'dataType': dataType,
				});
				$chat.val('');
				}
				var client = new Faye.Client('/faye',{
				timeout: 20
				});
				client.subscribe('/channel', function(message) {
				$('#messages').append('<p>'+message.text+'</p>');
				})